@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --options-bg: #ffffff;
    --options-text: #111111;
    --bg-card: #E1E1E1;
    --dot: #A7CFC0;
    --dot-active: #f5f5f5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.burguer span {
    position: absolute;
    left: 0;
    transform-origin: center;
}

.burguer span:nth-child(1) {
    top: 0;
}

.burguer span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burguer span:nth-child(3) {
    bottom: 0; 
}

.burguer.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.burguer.active span:nth-child(2) {
    opacity: 0;
}

.burguer.active span:nth-child(3) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.options-mobile {
    top: 60px;
    left: 0;
    height: calc(100vh - 55px);
    background: var(--options-bg);
    color: var(--options-text);
    transform: translateY(-100%);
    transition: transform 600ms ease-in-out;
    z-index: -50;
}

.options-mobile.active {
    transform: translateY(0);
}

.about-icon {
    transition: transform 300ms ease;
}

.about:hover .about-icon {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow-y: auto;
    transition: max-height 300ms ease;
}

.accordion.active .accordion-content {
    max-height: 500px;
}

.icon {
    transition: transform 300ms ease;
}

.accordion.active .icon {
    transform: rotate(180deg);
}

.carrossel {
    position: relative;
    margin: 0 auto;
    padding: 2rem;
}

.card-box {
    padding: 0 .5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.card {
    flex: 0 0 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    scroll-snap-align: start;
    background: var(--bg-card);
}

.navegation {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    background: none;
    font-size: 1.5rem;
    border: 0;
    cursor: pointer;
    color: #383838;
}

.navegation:hover {
    color: #5b5b5b;
}

.navegation.left {
    left: 0;
}

.navegation.right {
    right: 0;
}

.carrossel-two {
    position: relative;
    width: 95%;
    overflow: hidden;
}

.box-card-two {
    display: flex;
    gap: .5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.card-two {
    flex: 0 0 auto;
    justify-content: center;
    align-items: start;
    width: 190px;
    height: 180px;
    scroll-snap-align: start;
}

.card-two i {
    width: 100%;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 1rem;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--dot);
    cursor: pointer;
}

.dot.active {
    background: var(--dot-active);
}

.img-limit {
    transition: filter 300ms ease;
}

.img-limit:hover {
    filter: brightness(105%) contrast(105%);
}

#instagram:hover {
    color: #e5e5e5;
}

@media(max-width: 768px) {
    .carrossel {
        width: 100%;
    }

    .card {
        flex: 0 0 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .card ul {
        padding: 1rem;
    }

    .card-two {
        width: 170px;
        height: 160px;
    }
}